<!doctype html>
<html class="no-js" lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <title>{{ if title }}{{ title }}{{ else }}{{ site:name }}{{ /if }}</title>

        <meta property="og:title" content="{{ if title }}{{ title }}{{ else }}{{ site:name }}{{ /if }}">
        <meta property="og:url" content="{{ current_url }}">
        <meta property="og:image" content="{{ config:app:url }}{{ config:rad-seo:opengraph-image }}">
        <meta property="og:type" content="website">
        {{ if meta_description }}
            <meta name="description" content="{{ meta_description }}">
            <meta property="og:description" content="{{ meta_description }}">
            <meta name="twitter:description" content="{{ meta_description }}">
        {{ /if }}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{{ if title }}{{ title }}{{ else }}{{ site:name }}{{ /if }}">
        <meta name="twitter:image" content="{{ config:app:url }}{{ config:rad-seo:opengraph-image }}">

        {{ if is_homepage }}
            {{ rad_structured }}
        {{ /if }}

        {{ if environment === 'production' || config.rad-seo.force-critical }}
            {{ rad_critical_css }}
        {{ /if }}

        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <link rel="manifest" href="/site.webmanifest" />

        <link rel="canonical" href="{{ current_url }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ vite src="resources/js/app.js|resources/scss/app.scss" }}
        <script>(function(h){h.className = h.className.replace('no-js', 'js')})(document.documentElement)</script>
    </head>
    <body>
        <div class="d-flex flex-column vh-100">
            {{ partial:pages/header }}
            {{ template_content }}
            {{ partial:pages/footer }}
        </div>
        {{ stack:end }}
    </body>
</html>
