{{ $class = '' }}
{{ if alignment }}
    {{ $alignmentClass = 'text-' + alignment }}
    {{ $class = $class + ' ' + $alignmentClass }}
{{ /if }}

<div class="{{ $class }}">
    <a href="{{ if link_type == 'page' }}{{ linked_page:url }}{{ elseif link_type == 'asset' }}{{ asset }}{{ elseif link_type == 'phone' }}tel:+{{ phone }}{{ elseif link_type == 'email' }}mailto:{{ email }}{{ elseif link_type == 'url' }}{{ url }}{{ /if }}"
       class="btn btn-primary"
        {{ if new_tab }}target="_blank"{{ /if }}
        {{ if aria_label }}aria-label="{{ aria_label }}" {{ /if }}
    >
        {{ button_text }}{{ svg src="right-arrow" class="icon" }}
    </a>
</div>
