{{ $class = '' }}
{{ if alignment }}
    {{ $alignmentClass = 'content.' + alignment }}
    {{ $class = $class + ' ' + $alignmentClass }}
{{ /if }}

{{ if link_type == 'page' }}
    {{ $button_link = {{page:url}} }}
{{ elseif link_type == 'asset' }}
    {{ $button_link = '{asset}' }}
{{ elseif link_type == 'phone' }}
    {{ $button_link = 'tel:+{phone}' }}
{{ elseif link_type == 'email' }}
    {{ $button_link = 'mailto:{email}' }}
{{ elseif link_type == 'url' }}
    {{ $button_link = '{url}' }}
{{ /if }}
<div class="{{ $class }}">
    <a href="{{ $button_link }}" class="btn btn-primary"
        {{ if new_tab }}target="_blank"{{ /if }}
        {{ if aria_label }}aria-label="{{ aria_label }}" {{ /if }}
    >
        {{ button_text }}
    </a>
</div>