@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@mixin poppins($weight: 400, $fontsize: 15px, $fontstyle: normal) {
    font-family: "Poppins", sans-serif;
    font-weight: $weight;
    font-size: $fontsize;
    font-style: $fontstyle;
}

.btn-primary {
    @include poppins(300, 1rem);
    border-radius: 5px;
    background-color: $tertiary;
    color: #fff;
    padding: 0.74rem 2.2rem;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
    border-color: $tertiary;
    .icon {
        margin-right: 0.5rem;
    }
}

.icon {
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
}

.header {
    background-color: #000;
    .navbar {
        padding: 0;
        height: 125px;
        .navbar-brand {
            max-width: 215px;
            padding: 0;
        }
        .navbar-collapse {
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            .navbar-nav {
                height: 100%;
                li {
                    height: 100%;
                    a {
                        @include poppins(400,21px);
                        color: $font-color;
                        transition: all .3s ease;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        padding: 0 1.5rem;
                        &:hover {
                            color: #000;
                            background-color: $secondary;
                        }
                    }
                    &.active {
                        a {
                            color: #000;
                            background-color: $secondary;
                        }
                    }
                }
                li.dropdown {
                    .dropdown-toggle.show {
                        color: #000;
                        background-color: #C7C7C7;
                    }
                    .dropdown-menu {
                        top: 98%;
                        border-radius: 0;
                        background-color: $secondary;
                        border: 0;
                        li {
                            margin-left: 0;
                            a {
                                color: $primary;
                                padding: 0.5rem 2rem;
                                &:hover, &.active {
                                    background-color: $primary;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.navbar {
    .navbar-toggler {
        border: none;
        &:focus {
            box-shadow: none;
        }
        &:hover {
            opacity: 0.8;
        }
    }
}

.menu-open {
    .navbar-toggler {
        order: unset !important;
    }
}

.titlestrip {
    background: linear-gradient(120deg, $primary, $secondary 60%, $tertiary);
    position: relative;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #000000;
        background: linear-gradient(90deg,rgba(0, 0, 0, 0.9) 35%, rgba(255, 255, 255, 0) 70%);
    }
    .wrap {
        min-height: 170px;
        position: relative;
        padding: 2rem 0;
        left: 0%;
        top: 0%;
        text-align: left;
        h1, h2, h3, h4, p {
            @include poppins(600, 52px);
            color: #fff;
            line-height: 1.3;
            margin-bottom: 0;
            text-transform: uppercase;
            background-color: $tertiary;
            width: fit-content;
            padding-left: 9rem;
            padding-right: 0.5rem;
        }
    }
    &.image-titlestrip {
        img {
            min-height: 250px;
            max-height: 276px;
            width: 100%;
            max-width: 100%;
            object-fit: cover;
        }
        .wrap {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: left;
        }
    }
}

.img-fluid {
    max-width: 100%;
    height: auto
}

.carousel {
    .swiper {
        .swiper-wrapper {
            .swiper-slide {
                position: relative;
                img {
                    margin: 0;
                    width: 100%;
                    height: auto;
                    max-height: 750px;
                    object-fit: cover;
                    object-position: center;
                }
                .wrap {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background: linear-gradient(90deg,rgba($primary, 0.6) 0%, rgba(255, 255, 255, 0) 65%);
                    .caption {
                        max-width: 515px;
                        h1 {
                            @include poppins(500,3rem);
                            color: $font-color;
                        }
                    }
                }
            }
        }
    }
}

.content {
    padding: 70px 0;
    //adds spacing at top of the content (ignoring carousel)
    // & > :nth-child(1 of div.container) {
    //     margin-top: 2rem;
    // }


    
    // spacing
    img, table, video, .gallery, .btn {
        margin: 1rem 0;
    }

    h1 {
		@include poppins(600,52px);
		color: $primary;
        line-height: 54px;
        letter-spacing: -1px;
    }
    h2 {
		@include poppins(500,30px);
		color: $primary;
        line-height: 30px;
        letter-spacing: -1px;
	}
	h3 {
        @include poppins(500,22px);
		color: $tertiary;
        line-height: 22px;
    }
    h1,h2,h3 {
        margin-top: 2.5rem;
		margin-bottom: 1.5rem;
    }
    h1,h2,h3,p,li {
        a {
			text-decoration: underline;
			color: $tertiary;
			transition: all .3s;
			&:hover {
				color: $secondary;
			}
        }
    }
	p {
        @include poppins(400,18px);
		color: $primary;
        line-height: 27px;
        margin-bottom: 18px;
        b, strong {
			@include poppins(700,18px);
            i {
				@include poppins(700,18px,italic);
            }
        }
        i {
			@include poppins(400,18px,italic);
            b, strong {
				@include poppins(700,18px,italic);
            }
        }
	}
	ul {
        li {
			b {
				@include poppins(700,17px);
				color: $secondary;
			}
			p {
				display: block;
				@include poppins(400,18px);
                line-height: 27px;
				color: $secondary;
				margin-bottom: 9px;
			}
            &::marker {
                color: $tertiary;
            }
        }
	}
    ol {
        li {
            &::marker {
                color: $tertiary;
            }
        }
    }
	hr {
		border-top: 4px solid $tertiary !important;
        margin: 5rem auto !important;
	}

    blockquote {
        padding: 1rem 2rem;
        margin: 0 3rem;
        border-radius: 0.5rem;
    }
    hr {
        border: none;
        height: 2px;
        margin: 2rem 0;
        background-color: #000;
        opacity: 1;
    }
    .btn {
        border: none;
    }
    .highlight-group {
        padding: 2rem 0;
        margin: 2rem 0;
        p:last-of-type {
            margin-bottom: 0;
        }
        a {
            color: white;
        }
        .btn {
            border: 1px solid white;
        }
    }
}
.home.content {
    padding-top: 0;
    .home-intro {
        background-color: #111111;
        height: 400px;
        .intro-wrapper {
            align-items: center;
            .intro-text {
                h1 {
                    @include poppins(600,35px);
                    color: #fff;
                    margin-bottom: 1.5rem;
                    margin-top: 0;
                    line-height: 35px;
                }
                p {
                    @include poppins(400,23px);
                    color: #fff;
                    margin-bottom: 0
                }
            }
            .intro-btn {
                margin-bottom: 3rem;
            }
            .intro-image {
                margin-bottom: -220px;
            }
        }
    }
    .home-services {
        margin-top: 4rem;
        .services-header {
            width: 33%;
            margin-bottom: 3rem;
            .service-company {
                margin-bottom: 0;
                padding-left: 6rem;
                padding-right: 0.5rem;
                background-color: $tertiary;
                color: #fff;
                width: fit-content;
                text-transform: uppercase;
            }
            h1 {
                @include poppins(600,52px);
                color: #000;
                text-transform: uppercase;
                letter-spacing: -1px;
                margin-bottom: 0;
            }
            h3 {
                @include poppins(400,30px);
                color: #000;
                text-align: end;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        .services-grids {
            [class*="col-"] {
                margin-bottom: 2rem;
            }
            .service {
                box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.1);
                background-color: #fff;
                padding: 1rem;
                height: 100%;
                display: flex;
                flex-direction: column;
                .service-title {
                    @include poppins(400,20px);
                    color: #fff;
                    background-color: $tertiary;
                    border-radius: 5px;
                    padding: 0.5rem 1rem;
                    letter-spacing: -1px;
                }
                .service-intro {
                    @include poppins(400,18px);
                    color: #000;
                    margin-top: 1rem;
                }
                .service-btn-icon {
                    margin-top: auto;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    .btn-primary {
                        margin-top: 4rem;
                        margin-bottom: 0;
                        .icon {
                            margin-right: 0;
                            margin-left: 10px;
                            width: 21px;
                            height: auto;
                            vertical-align: -5px;
                        }
                    }
                    img {
                        margin-bottom: 0;
                        margin-right: 0.5rem;
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
    }
    .home-cta {
        box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.1);
        padding: 3rem 0;
        background-color: #fff;
        margin: 4rem 0;
        [class*="col-"] {
            border-right: 1px solid $tertiary;
            .cta-icon {
                height: 80px;
                width: 77px;
            }
            .cta-content {
                margin-left: 1rem;
                .socials {
                    display: flex;
                }
                .social-icons {
                    background-color: #000;
                    border-radius: 50%;
                    height: 40px;
                    width: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all .3s ease;
                    margin-right: 0.75rem;
                    .icon {
                        height: auto;
                        width: 1.5rem;
                    }
                    &:hover {
                        background-color: $tertiary;
                    }
                }
            }
            &:last-child {
                border-right: none;
            }
            .get-quote, .call-us, .message-us {
                max-width: 350px;
                margin: 0 auto;
                padding: 3rem 0;
                h3 {
                    @include poppins(500,25px);
                    color: #000;
                    margin: 0 0 .5rem 0;
                    letter-spacing: -1px;
                }
            }
        }
    }
    .home-location {
        display: flex;
        .location-details {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 45%;
            margin-right: 5%;
            padding: 2rem;
            box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.1);
            .company {
                margin-bottom: 0;
                padding-left: 6rem;
                padding-right: 0.5rem;
                background-color: $tertiary;
                color: #fff;
                width: fit-content;
                text-transform: uppercase;
            }
            h1 {
                @include poppins(600,52px);
                color: #000;
                text-transform: uppercase;
                letter-spacing: -1px;
            }
            .location-address {
                max-width: 350px;
            }
            .btn-primary {
                width: fit-content;
            }
        }
        .location-map {
            width: 50%;
            ifram {
                width: 100%;
            }
        }
    }
}
.contact.content {
    padding-bottom: 0;
    .contact-wrapper {
        margin-top: 5rem;
        .contact-info {
            h3 {
                @include poppins(600,18px);
                color: #000;
                margin-top: 1.5rem;
                margin-bottom: 0.5rem;
            }
        }
        .contact-form {
            // background-color: $secondary;
            form {
                margin-top: 2rem;
                margin-bottom: 2rem;
                .form-group {
                    margin-bottom: .75rem;
                    label {
                        font-weight: 700;
                    }
                }
            }
        }
    }
    .contact-map {
        margin-top: 4rem;
        iframe {
            width: 100%;
            margin-bottom: -6px;
        }
    }
}
.cta {
    background-color: $secondary;
    position: relative;
    padding: 3rem 0;
    h1 {
        @include poppins(600,37px);
        color: #000;
        letter-spacing: -1px;
        margin-bottom: 1rem;
    }
    p {
        @include poppins(400,16px);
        color: #000;
        margin-bottom: 2rem;
    }
    .cta-img {
        position: relative;
        height: 100%;
        img {
            position: absolute;
            right: 0;
            bottom: -3rem;
        }
    }
}
.footer {
    margin-top: auto;
    padding: 6rem 0 3rem 0;
    font-size: 0.8rem;
    background-color: #000;
    h1, h2, h3, h4, p, a {
        color: #fff;
    }
    .logo-footer-text {
        color: #fff;
        img {
            max-width: 215px;
            display: block;
            margin-bottom: 1rem;
        }
        p {
            @include poppins(400,14px);
            color: #fff;
        }
    }
    .footer-nav {
        display: flex;
        justify-content: flex-end;
        h3 {
            @include poppins(700,25px);
            color: #fff;
        }
        li a {
            @include poppins(400,18px);
            color: #fff;
            margin-bottom: 0.3rem;
            transition: all .3s ease;
            &:hover {
                color: $secondary;
            }
        }
        .service-nav, .about-nav {
            margin-right: 5rem;
        }
        .about-nav {
            ul {
                li a {
                    @include poppins(700,25px);
                    color: #fff;
                    margin-bottom: 0.3rem;
                    transition: all .3s ease;
                    &:hover {
                        color: $secondary;
                    }
                }
            }
            .socials {
                display: flex;
            }
            .social-icons {
                background-color: $tertiary;
                border-radius: 50%;
                height: 40px;
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all .3s ease;
                margin-right: 0.75rem;
                .icon {
                    height: auto;
                    width: 1.5rem;
                }
                &:hover {
                    background-color: $secondary;
                }
            }
        }
        .call-us-info {
            .call-icon {
                height: 80px;
                width: 77px;
            }
            p, a {
                @include poppins(400,18px);
                color: #fff;
                margin-bottom: 0.3rem;
                transition: all .3s ease;
                &:hover {
                    color: $secondary;
                }
            }
        }
    }
}