<div class="carousel">
    <div class="swiper swiper-initialized swiper-horizontal swiper-backface-hidden" 
        data-scroller="true" 
        data-delay="6000" 
        data-pagination="true" 
        data-navigation="false" 
        data-effect="fade" 
        data-speed="800" 
        data-per-view="1" 
        data-per-group="1"
    >
        {{ collection:carousel }}
            <div class="swiper-slide">
                {{ responsive:image
                    alt="{ alt }"
                    class="img-fluid"
                }}
                {{ if caption }}
                <div class="wrap">
                    <div class="container d-flex align-items-center h-100">
                        <div class="caption">
                            <div>
                                {{ caption }}
                            </div>
                            {{ partial:sets/custom_button }}
                        </div>
                    </div>
                </div>
                {{ /if }}
            </div>
        {{ /collection:carousel }}
        <div class="swiper-pagination"></div>
    </div>
</div>