<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="logo-footer-text">
                    {{ asset src="public-images::logo.png" }}
                        <img class="img-fluid" src="{{ url }}" alt="Car Intel">
                    {{ /asset }}
                    {{ site_settings.footer | nl2br }}
                </div>
            </div>
            <div class="col-md-8">
                <div class="footer-nav">
                    <div class="service-nav">
                        <h3>Services</h3>
                        <ul class="list-unstyled">
                            {{ nav from="/services" }}
                                <li class="nav-item">
                                    <a href="{{ url }}" class="nav-link">
                                        {{ navigation_title or title }}
                                    </a>
                                </li>
                            {{ /nav }}
                        </ul>
                        
                    </div>
                    <div class="about-nav">
                        <ul class="list-unstyled">
                            {{ nav:about_nav }}
                                <li class="nav-item">
                                    <a href="{{ url }}" class="nav-link">
                                        {{ navigation_title or title }}
                                    </a>
                                </li>
                            {{ /nav:about_nav }}
                        </ul>
                        <div class="socials">
                            {{ if contact_info.email }}
                                <a href="mailto:{{ contact_info.email }}" class="social-icons">{{ svg src="envelope" class="icon" }}</a>
                            {{ /if }}
                            {{ if contact_info.facebook }}
                                <a href="{{ contact_info.facebook }}" class="social-icons">{{ svg src="facebook-f" class="icon" }}</a>
                            {{ /if }}
                        </div>
                    </div>
                    <div class="call-us-info">
                        <div class="contact-info">
                            <h3>Call Us!</h3>
                            {{ if contact_info.phone }}
                                <p class="mb-0">
                                    <span class="me-2">{{ svg src="phone-solid" class="icon" }}</span><a href="tel:+{{ contact_info.phone }}">{{ contact_info.phone_display }}</a>
                                </p>
                            {{ /if }}
                            {{ if contact_info.mobile }}
                                <p class="mb-0">
                                    <span class="me-2">{{ svg src="mobile-screen-button-solid" class="icon" }}</span><a href="tel:+{{ contact_info.mobile }}">{{ contact_info.mobile_display }}</a>
                                </p>
                            {{ /if }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="byline text-end">
        </div>
    </div>
</footer>
