<footer class="footer mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="logo-footer-text">
                    {{ asset src="public-images::logo.png" }}
                        <img class="img-fluid" src="{{ url }}" alt="Car Intel">
                    {{ /asset }}
                    {{ site_settings.footer | nl2br }}
                </div>
            </div>
            <div class="col-md-8">
                <div class="footer-nav">
                    <div class="service-nav">
                        <h3>Services</h3>
                        <ul class="list-unstyled">
                            {{ nav from="/services" }}
                                <li class="nav-item">
                                    <a href="{{ url }}" class="nav-link">
                                        {{ navigation_title or title }}
                                    </a>
                                </li>
                            {{ /nav }}
                        </ul>
                        
                    </div>
                    <div class="about-nav">
                        <ul class="list-unstyled">
                            {{ nav:about_nav }}
                                <li class="nav-item">
                                    <a href="{{ url }}" class="nav-link">
                                        {{ navigation_title or title }}
                                    </a>
                                </li>
                            {{ /nav:about_nav }}
                        </ul>
                        <div class="socials">
                            <a href="#" class="social-icons">{{ svg src="envelope" class="icon" }}</a>
                            <a href="#" class="social-icons">{{ svg src="facebook-f" class="icon" }}</a>
                        </div>
                    </div>
                    <div class="call-us-info">
                        <div class="contact-info">
                            <h3>Call Us!</h3>
                            <p class="mb-0">(+639) 43 237 0819</p>
                            <p class="mb-0">(02) 222 2222</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="byline text-end">
        </div>
    </div>
</footer>
