<footer class="footer mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="logo-footer-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.
                    {{ site_settings.footer | trim | nl2br }}
                </div>
            </div>
            <div class="col-md-8">
                <div class="footer-nav">
                    
                </div>
            </div>
        </div>
        <div class="byline text-end">
        </div>
    </div>
</footer>
