{{ partial:pages/titlestrip }}
<div class="content flex-grow-1">
    <div class="container">
        <h2>
            {{ meta_description }}
        </h2>
    </div>
    {{ partial:_content }}
    {{ slot }}
</div>
<div class="cta">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h1>Trust Your Car To Our Skilled Technicians</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit magni harum temporibus tempora natus ad rerum architecto aliquam illo ducimus minus fugit, eum ipsa aliquid suscipit iusto porro dignissimos praesentium.</p>
                <a href="{{ link:76684dea-97c0-440e-b069-819ceefa8e0a }}" class="btn btn-primary">Contact Us</a>
            </div>
            <div class="col-lg-5">
                <div class="cta-img">
                    {{ asset src="public-images::cta-mechanic.png" }}
                        <img class="img-fluid" src="{{ url }}" alt="Car Intel">
                    {{ /asset }}
                </div>
            </div>
        </div>
    </div>
</div>