{{ partial:pages/carousel }}
<div class="content flex-grow-1 home">
    {{ partial:_content }}
    {{ slot }}
    <div class="home-intro">
        <div class="container h-100">
            <div class="intro-wrapper row h-100">
                <div class="col-lg-5">
                    <div class="intro-text">
                        <h1>Where Intelligence Meets Every Drive</h1>
                        <p>
                            Car Intel brings intelligence to every repair. Expert technicians, cutting-edge diagnostics, and zero guesswork. Just smart, reliable service that keeps you moving.
                        </p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="intro-btn text-end">
                        <a href="{{ link:76684dea-97c0-440e-b069-819ceefa8e0a }}" class="btn btn-primary">Contact Us Today{{ svg src="right-arrow" class="icon" }}</a>
                    </div>
                    <div class="intro-image">
                        {{ asset src="public-images::red-civic.png" }}
                            <img class="img-fluid" src="{{ url }}" alt="Car Intel">
                        {{ /asset }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-services">
        <div class="container">
            <div class="services-header">
                <p class="service-company">Car Intel</p>
                <h1>Services</h1>
                <h3>Let us handle the dirty work <br>so you dont have to!</h3>
            </div>
            <div class="services-grids">
                <div class="row">
                    {{ nav from="/services" }}
                        <div class="col-lg-4">
                            <div class="service">
                                <div class="service-title">
                                    {{ title }}
                                </div>
                                <div class="service-intro">
                                    {{ meta_description }}
                                </div>
                                <div class="service-btn-icon">
                                    <a href="{{ url }}" class="btn btn-primary">Learn More {{ svg src="right-arrow" class="icon" }}</a>
                                    {{ asset src="public-images::{slug}-service.png" }}
                                        <img class="img-fluid" src="{{ url }}" alt="Engine Services">
                                    {{ /asset }}
                                </div>
                            </div>
                        </div>
                    {{ /nav }}
                </div>
            </div>
        </div>
    </div>
    <div class="home-cta">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="get-quote d-flex align-items-center justify-content-center">
                        {{ asset src="public-images::service-icon.png" }}
                            <img class="img-fluid cta-icon" src="{{ url }}" alt="Car Intel Free Quotation">
                        {{ /asset }}
                        <div class="cta-content">
                            <h3>Get a free service quotation!</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="call-us d-flex align-items-center justify-content-center">
                        {{ asset src="public-images::call-icon.png" }}
                            <img class="img-fluid cta-icon" src="{{ url }}" alt="Car Intel Contact Numbers">
                        {{ /asset }}
                        <div class="cta-content">
                            <h3>Call Us!</h3>
                            {{ if contact_info.phone }}
                                <p class="mb-0">
                                    <span class="me-2">{{ svg src="phone-solid" class="icon" }}</span><a href="tel:+{{ contact_info.phone }}">{{ contact_info.phone_display }}</a>
                                </p>
                            {{ /if }}
                            {{ if contact_info.mobile }}
                                <p class="mb-0">
                                    <span class="me-2">{{ svg src="mobile-screen-button-solid" class="icon" }}</span><a href="tel:+{{ contact_info.mobile }}">{{ contact_info.mobile_display }}</a>
                                </p>
                            {{ /if }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="message-us d-flex align-items-center justify-content-center">
                        {{ asset src="public-images::message-icon.png" }}
                            <img class="img-fluid cta-icon" src="{{ url }}" alt="Car Intel Socials">
                        {{ /asset }}
                        <div class="cta-content">
                            <h3>Send us a message!</h3>
                            <div class="socials">
                                {{ if contact_info.email }}
                                    <a href="mailto:{{ contact_info.email }}" class="social-icons">{{ svg src="envelope" class="icon" }}</a>
                                {{ /if }}
                                {{ if contact_info.facebook }}
                                    <a href="{{ contact_info.facebook }}" class="social-icons">{{ svg src="facebook-f" class="icon" }}</a>
                                {{ /if }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="home-location">
            <div class="location-details">
                <div class="wrapper">
                    <p class="company">Car Intel</p>
                    <h1>Where to Find Us</h1>
                    <p class="location-address">Conveniently located in Kawit, Cavite, just minutes from Lancaster and nearby subdivisions. Car Intel serves vehicle owners across Noveleta, Rosario, General Trias, and beyond. <b>Smarter car care, right in your area.</b></p>
                    {{ if contact_info.address }}
                        <div class="d-flex">
                            <div class="contact-icon me-2">
                                {{ svg src="location-dot-solid" class="icon" }}
                            </div>
                            <div class="contact-data">
                                <p class="mb-0">{{ contact_info.address }}</p>
                            </div>
                        </div>
                    {{ /if }}
                    {{ if contact_info.hours }}
                        <div class="d-flex">
                            <div class="contact-icon me-2">
                                {{ svg src="clock-solid" class="icon" }}
                            </div>
                            <div class="contact-data">
                                <p class="mb-0">{{ contact_info.hours | nl2br }}</p>
                            </div>
                        </div>
                    {{ /if }}
                </div>
                <a href="{{ link:76684dea-97c0-440e-b069-819ceefa8e0a }}" class="btn btn-primary">Contact Us {{ svg src="right-arrow" class="icon" }}</a>
            </div>
            <div class="location-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3864.3041216002157!2d120.902257!3d14.409623999999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTTCsDI0JzM0LjciTiAxMjDCsDU0JzA4LjEiRQ!5e0!3m2!1sen!2sph!4v1776172136972!5m2!1sen!2sph" width="600" height="495" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>